<i>submitted by <a href="https://www.reddit.com/user/{{ item.author }}">{{ item.author }}</a>
to <a href="https://www.reddit.com/r/{{ item.subreddit }}">/r/{{ item.subreddit }}</a><br/>
score: {{ item.score }}<br/>

{% if item.over_18 %}
<b><font color='#FF0000'>[NSFW]</font></b><br/>
{% endif %}

<a href="https://www.reddit.com/{{ item.permalink }}">{{ item.num_comments }} comments</a><br/>
<a href="{{ item.url }}">original</a>
(<a href='https://www.reddit.com/domain/{{ item.domain }}/'>{{ item.domain }}</a>)
</i>
<br/><br/>

{% if item.media_embed %}
{{ item.media_embed.content|safe }}<br/>
{% endif %}

{% if item.preview_url %}
<a href="{{ item.url }}"><img src="{{ item.preview_url }}"></a><br/>
{% endif %}

{% if item.selftext_html %}
{{ item.selftext_html|safe }}
{% endif %}